@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rum+Raisin&display=swap");
main {
  width: 100%;
}

.mainHeader {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
}

.mainHeader .mainHeader-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
  height: 50px;
  background-color: #f6eeee;
}

.mainHeader .mainHeader-nav .mainHeader-nav-left-container {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.mainHeader .mainHeader-nav .mainHeader-nav-left-container .mainHeader-nav-left-container-logoImg {
  position: relative;
  top: 0px;
  left: 0px;
  height: 44px;
  margin: 3px 5px;
}

.mainHeader .mainHeader-nav .mainHeader-nav-center-container {
  -webkit-box-flex: 9;
      -ms-flex: 9;
          flex: 9;
  width: 80%;
  margin: auto 0;
}

.mainHeader .mainHeader-nav .mainHeader-nav-center-container ul {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.mainHeader .mainHeader-nav .mainHeader-nav-center-container ul li {
  float: left;
  margin: 0 2%;
}

.mainHeader .mainHeader-nav .mainHeader-nav-center-container ul li a {
  font-size: 23px;
  color: #0620aa;
  text-decoration: none;
}

.mainHeader .mainHeader-nav .mainHeader-nav-center-container ul li:hover::before {
  content: "";
  width: 100%;
  height: 5px;
  background-color: #0620aa;
  float: left;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.mainHeader .mainHeader-nav .mainHeader-nav-center-container ul li:active::before {
  content: "";
  width: 100%;
  height: 5px;
  background-color: #ffffff;
  float: left;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.mainHeader .mainHeader-nav .mainHeader-nav-right-container {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.mainHeader .mainHeader-nav .mainHeader-nav-right-container .mainHeader-nav-right-container-box {
  float: right;
  background-image: url("../images/header/header-right-bg.png");
  background-size: 267px 50px;
  height: 50px;
  width: 262px;
  background-repeat: no-repeat;
}

.mainHeader .mainHeader-nav .mainHeader-nav-right-container .mainHeader-nav-right-container-box .mainHeader-nav-right-container-box-storeImg {
  width: 32px;
  position: absolute;
  top: 12px;
  right: 100px;
}

.mainHeader .mainHeader-nav .mainHeader-nav-right-container .mainHeader-nav-right-container-box .mainHeader-nav-right-container-box-userImg {
  width: 40px;
  position: absolute;
  top: 6px;
  right: 20px;
}

.mainHeader .mainHeader-line {
  background-color: #b1b2b9;
  position: absolute;
  top: 50px;
  height: 8px;
  width: 100%;
}

@media only screen and (max-width: 500px) {
  .mainHeader-nav-center-container ul {
    display: -ms-grid;
    display: grid;
    font-size: 10px;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

.TeamsNav-wrap {
  margin-top: 58px;
  width: 100%;
  background-color: #002772;
}

.TeamsNav-wrap .TeamsNav-nav {
  height: 60px;
  width: 100%;
  margin: auto 0;
}

.TeamsNav-wrap .TeamsNav-nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.TeamsNav-wrap .TeamsNav-nav ul li {
  float: left;
  margin: auto 3%;
}

.TeamsNav-wrap .TeamsNav-nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Rum Raisin", sans-serif;
  font-size: 30px;
}

@media screen and (max-width: 600px) {
  .TeamsNav-box1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 600px) {
  .TeamsNav-box1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  .TeamsNav-box2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 600px) {
  .TeamsNav-box2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

.TeamsNav-Nav-active {
  color: #2e9afe;
}

.TeamsCharts-wrap {
  width: 83%;
  margin: 10px auto;
}

body,
html,
.seq {
  /* #1 */
  width: 100%;
  /* #2 */
  margin: 0;
  padding: 0;
}

.nbaHammer-wrap {
  width: 100%;
  /* #2 */
  margin: 0;
  padding: 0;
}

.seq {
  /* #1 */
  position: relative;
  overflow: hidden;
  font-family: sans-serif;
  color: white;
  text-align: center;
  background-color: #aab6bb;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-property: background-color;
  transition-property: background-color;
}

.seq-canvas,
.seq-canvas > * {
  /* #1 */
  width: 100%;
  /* #2 */
  margin: 0;
  padding: 0;
  list-style: none;
}

.seq-canvas > * {
  /* #1 */
  position: absolute;
  /* #2 */
  padding: 32px 32px 6% 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* #3 */
  height: auto;
  top: 0;
  bottom: 80px;
}

.seq-step1 {
  background-color: #102334;
}

.seq-step2 {
  background-color: #1f1f1f;
}

.seq-step3 {
  background-color: #561295;
}

.feature {
  width: 70%;
  max-width: 100%;
  height: auto;
}

@media only screen and (min-width: 460px) and (min-height: 520px) {
  .feature {
    width: 100%;
  }
}

/* Ghost element */
.valign:before {
  content: "";
  height: 100%;
}

/* Vertically align the ghost and desired elements */
.valign:before,
.valign > .vcenter {
  display: inline-block;
  vertical-align: middle;
}

/* Remove 4px gap to allow consistent valign */
.valign {
  font-size: 0;
}

/* Reset font-size on valigned elements */
.valign > .vcenter {
  font-size: 16px;
}

.title {
  /* #1 */
  margin: 0;
  /* #2 */
  opacity: 0;
  -webkit-transform: translateX(50px) translateZ(0);
          transform: translateX(50px) translateZ(0);
  /* #3 */
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
}

/*
 * When a step is active, fade in to opaque and slide to the center
 */
.seq-in .title {
  opacity: 1;
  -webkit-transform: translateX(0) translateZ(0);
          transform: translateX(0) translateZ(0);
}

.seq-out .title {
  opacity: 0;
  -webkit-transform: translateX(-50px) translateZ(0);
          transform: translateX(-50px) translateZ(0);
}

.feature {
  -webkit-transform: translateZ(0) scale(0);
          transform: translateZ(0) scale(0);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
}

.seq-in .feature {
  -webkit-transform: translateZ(0) scale(1);
          transform: translateZ(0) scale(1);
}

.seq-out .feature {
  -webkit-transform: translateZ(0) scale(1);
          transform: translateZ(0) scale(1);
  opacity: 0;
}

.nav {
  /* #1 */
  position: relative;
  z-index: 100;
  left: 0;
  right: 0;
  max-width: 640px;
  width: 100%;
  border: none;
  margin: 0% auto 5% auto;
  padding: 0;
}

.seq-next,
.seq-prev {
  /* #1 */
  padding: 0;
  background: transparent;
  border: none;
  /* #2 */
  padding: 0.75em;
  cursor: pointer;
  color: white;
  font-size: 0.75em;
  text-transform: uppercase;
  /* #3 */
  opacity: 0.7;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

.seq-next:hover,
.seq-prev:hover {
  opacity: 1;
}

.seq-next,
.seq-prev,
.seq-pagination {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-top: 0;
}

.seq-pagination {
  margin: 0 1em;
  padding: 0;
}

.seq-pagination li {
  /* #1 */
  position: relative;
  /* #2 */
  list-style: none;
  /* #3 */
  display: inline-block;
  vertical-align: middle;
  /* #4 */
  width: 50px;
  height: 40px;
  margin: 0 0.25em;
}

.seq-pagination li:before {
  /* #1 */
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  width: 6px;
  height: 6px;
  margin-left: -3px;
  margin-top: 0.5em;
  border-radius: 50%;
  background: white;
  /* #2 */
  opacity: 0;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

/*
 * Show the indicator dot for the current link
 */
.seq-pagination .seq-current:before {
  opacity: 0.7;
}

/*
 * Reset styles
 */
.seq-pagination img,
.seq-pagination a {
  display: block;
  border: none;
}

.TeamsDivNav-wrap {
  background-color: #bcf5a9;
}

.TeamsDivNav-wrap ul {
  padding: 0;
  font-size: 12px;
  text-align: center;
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.TeamsDivNav-wrap ul a {
  text-decoration: none;
}

@media only screen and (max-width: 501px) {
  .TeamsDivNav-wrap ul {
    font-size: 9px;
  }
}

@media only screen and (min-width: 500px) {
  .TeamsDivNav-wrap ul {
    font-size: 12px;
  }
}
/*# sourceMappingURL=all.css.map */