.TeamsDivNav-wrap {
  background-color: #bcf5a9;
  ul {
    // margin: 0;
    padding: 0;
    font-size: 12px;
    text-align: center;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    a {
      text-decoration: none;
    }
  }
  @media only screen and (max-width: 501px) {
    ul {
      font-size: 9px;
    }
  }
  @media only screen and (min-width: 500px) {
    ul {
      font-size: 12px;
    }
  }
}
